@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --scrollbar-color: theme('backgroundColor.neutral.grey.25'); /* Replace this with the actual color value if theme() function isn't processed */
  --main-viewable-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1em;
  background-color: #F3F3F3;
  color: #252525;
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  overflow-x: hidden;
  overflow-y: auto; /* Allows vertical scrolling if needed */
  max-height: 100vh;
}

.h-full-body {
  height: calc(100% - 100px);
}

.h-toc {
  height: calc(var(--main-viewable-height) - 56px);
  scrollbar-gutter: overlay;
  scrollbar-color: transparent transparent; /* scrollbar thumb and track color */
}

.h-toc:hover {
  overflow-y: auto; /* Show the vertical scrollbar on hover */
  overflow-x: auto; /* Show the horizontal scrollbar on hover */
}

/* Styles for the vertical and horizontal scrollbar track (background) */
.h-toc::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Handle on hover for vertical and horizontal scrollbar */
.h-toc:hover::-webkit-scrollbar-thumb {
  background-color: theme('backgroundColor.quorum.blue.50');
  border-radius: 5px; /* If you want rounded corners */
}

/* Handle for vertical and horizontal scrollbar */
.h-toc::-webkit-scrollbar-thumb {
  background: transparent; /* Make scrollbar handle invisible initially */
  border-radius: 5px; /* If you want rounded corners */
}

/* Handle on active for vertical and horizontal scrollbar */
.h-toc::-webkit-scrollbar-thumb:active {
  background-color: theme('backgroundColor.quorum.blue.50');
  border-radius: 5px; /* If you want rounded corners */
}

/* Optional: Styles for the scrollbar corner */
.h-toc::-webkit-scrollbar-corner {
  background-color: transparent; /* This can match your site's background */
}

/* Firefox scrollbar styles */
.h-toc {
  scrollbar-color: theme('backgroundColor.quorum.blue.50') transparent; /* scrollbar thumb and track colors */
  scrollbar-width: thin; /* 'auto', 'thin', or 'none' */
}



/* media above 640px */
@media (min-width: 640px) {
  .h-full-body {
    height: calc(100% - 70px);
  }
}

/*/1* PrismJS 1.24.1 */
/*https://prismjs.com/download.html *1/ */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: theme('backgroundColor.neutral.white');
  padding: 1em;
  border-radius: 8px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment {
	color: theme('textColor.text.light.gray');
}

.token.property,
.token.tag,
.token.number, 
.token.constant,
.token.symbol,
.token.deleted {
	color: theme('textColor.text.light.pink');
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: theme('textColor.text.light.red');
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: theme('textColor.text.light.orange');
}

.token.atrule,
.token.boolean,
.token.attr-value,
.token.keyword {
	color: theme('textColor.text.light.blue');
}

.token.function,
.token.class-name {
	color: theme('textColor.text.light.green');
}

.token.regex,
.token.important,
.token.variable {
	color: theme('textColor.text.light.purple');
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: -2px;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}


/* Define a CSS variable for the theme color */
:root {
  --scrollbar-color: #ececec; /* Replace with your theme's grey color */
}

/* Style the scrollbar for <pre> with language-quorum class */
pre[class*="language-quorum"] {
  overflow: auto; /* Enables scrolling */
  border-radius: 8px; /* Adjust as needed */
  padding-bottom: 1em; /* Give some space inside the container */
}

/* Style the scrollbar width and the handle */
pre[class*="language-quorum"]::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

pre[class*="language-quorum"]::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
  border-bottom-left-radius: 8px; /* Match to the <pre> border-radius */
  border-bottom-right-radius: 8px; /* Match to the <pre> border-radius */
}

pre[class*="language-quorum"]::-webkit-scrollbar-thumb {
  background: #d4d4d4; /* Scrollbar handle color, replace with actual color */
  border-radius: 4px; /* Optional: to make the scrollbar thumb rounded */
}

/* For other browsers like Firefox */
pre[class*="language-quorum"] {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 var(--scrollbar-color); /* Scrollbar thumb and track color */
}

