@media only screen{
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .col-index{width: 58.33%;}
    .indexContainer {width: 58.33%;}
}
.textButton li{
    display: inline-block;
    margin: 0.5%;
    width: 32%;
    text-align: left;
    border: solid 1px #AAA;
    background-color: rgba(3, 59, 86, .90);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1px 1px #555;
    height: 330px;
    vertical-align: top;
    position: relative;
}
.blockButton{
    display: inline-block;
    margin: .5% .5% .75% .5%;
    width: 24%;
    text-align: center;
    border: solid 1px #AAA;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 1px 2px #555;
    overflow: hidden;
    height: 23em;
     min-width: 15em;
    vertical-align: top;
    position: relative;
}
.leftReferenceBox{
    width: 100%;
    display: inline-block;
    margin-left: 0;
}
.leftLessonBox{
    border-right: solid 3px #F3F3F3;
    width: 65%;
    display: inline-block;
    margin-left: 0;
}

.leftLessonBox li:last-child{
    border-bottom: none;
}

.rightLessonBox{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.ideCanvas { 
    border: solid 2px black;
    width: 800px;
    height: 600px;
}

.ideCanvasRight {
    left: 50%;
    width: 48%;
    position: absolute;
    margin-top: 1em;
}

.comboButton li {
    width: 24%;
    min-width: 250px;
}

.homePageButton {
    width: 100%;
    max-width: 250px;
}

.bodyContainer {
    margin-left: 1.0em;
    margin-right: 1.0em;
    width: 75%;
    left: 12.5%;
    position: relative;
}

p {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0 0.25em 0;
}

h3 {
    font-size: 1.25em;
    margin: 1em 0 0.25em 0;
}

h4 {
    font-size: 1.0em;
    margin: 1em 0 0.25em 0;
}

#footer {
    text-align: center;
    margin-top: 16px;
    font-size: 1.0em;
}

.CommunityMap {
    width: 100%;
}
#frontPageIde {
    margin-left: auto;
}

.ideLeftSide {
    width: 50%;
}

.ide {
    margin: auto;
    width: 90%;
    padding: 1em;
}

.ideOutputContainer {
    background-image: url(/media/OutputMonitor.png);
    position: absolute;
    left: 50%;
    width: 48%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.allInOneIde{
    margin: 1em auto auto auto;
    width: 95%;
}

.allInOneIdeSubtitle, .ideSubtitle {
    padding: 4px 6px 4px 12px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.hourOfCodeIDELabel {
    margin-bottom: 0px;
    margin-top: 0px;
}

.homePageButtonListItem {
    width: 24%;
    height: 150px;
    min-width: 150px;
}

.fullWidthButton {
    width: 95%;
    height: 100%;
}


.topmargin {
    margin-top: 1em;
    width: 100%;
}

#sidebar {
    width: 20%;
}

#content-box {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

#video-container {
    width: 44.1%;
    margin-left: 5%;
}

#slide-content-box {
    width: 45.3%;
}

#slide-box-wrapper {
    min-height: 350px;
}

.small-IDE {
    margin-top: 1em;
    width: 100%;
}

#hour-of-code-IDE-output-container {
    margin-top: 1em;
    width: 100%;
}

.ideHourOfCodeLeftSide {
    width: 49%;
}

#modal, #noCodeModal {
    position: relative;
    min-width: 1px;
}

#overlay-content {
    
    width: 30%;
    left: 35%;
    top: 50%;
}

.BuildButton {
    width: 50%;
    vertical-align: top;
    padding: 0;
    display: inline-block;
    background-color: #04862d;
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px #666;
    cursor: pointer;
    padding: 10px 0;
}

.BuildButton:hover {
    background-color: #036f25;
    transition-duration: 0.2s;
}

.RunButton {
    width: 50%;
    vertical-align: top;
    padding: 0;
    display: inline-block;
    background-color: #04862d;
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px #666;
    cursor: pointer;
    padding: 10px 0;
}

.RunButton:hover {
    background-color: #036f25;
    transition-duration: 0.2s;
}