@media only screen {
    /* For desktop: */
    .col-7 {width: 100%;}
}

.ideCanvas {
    border: solid 2px black;  
    width: 100%;
    margin-top: 1em;
}

.ideVisualOutput { 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgba(3, 59, 86, 0.9);
    width: 50%;
    vertical-align: bottom;
    outline: none;
}

.ideCanvasRight {
    width: 100%;
    margin-top: 1em;
}

.comboButton li {
    width: 49%;
    min-width: 200px;
}

.homePageButton {
    width: 100%;
}

.bodyContainer {
    margin-left: 1.0em;
    margin-right: 1.0em;
}

p {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0 0.25em 0;
}

h3 {
    font-size: 1.25em;
    margin: 1em 0 0.25em 0;
}

h4 {
    font-size: 1.0em;
    margin: 1em 0 0.25em 0;
}

#footer {
    text-align: center;
    margin-top: 16px;
    font-size: 1.0em;
}


.headerNavBar li {
    width: 20%;
    font-size: 1.2em;
}

#homePageLink {
    font-size: 2.0em;
}

.headerNavBar li:first-child {
    width: 100%;
    padding-left: 0;
}

#searchForm {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#searchFormInput {
    width: 65%;
}

#searchFormButton {
    width: 30%;
}

.allInOneIde {
    width: 100%;
    margin-top: 1em;
}

.CommunityMap {
    width: 100%;
}
#frontPageIde {
    margin-left: 0;
}

.ideLeftSide {
    width: 100%;
}

.allInOneIdeSubtitle, .ideSubtitle {
    padding: 4px 6px 4px 12px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.ideTitle {
    font-size: 1.2em;
}

.hourOfCodeIDELabel {
    margin-bottom: 0px;
    margin-top: 0px;
}

.homePageButtonListItem {
    width: 33%;
    height: 150px;
}

#slide-box {
    padding: 0 1em 0.5em;
}

#slide-box-wrapper {
    height: 360px;
}

#youtubeiframe {
  min-height: 400px;
}

.ideOutputContainer {
    background-image: url(/media/OutputMonitor.png);
    height: 350px;
    position: relative;
    left: 0%;
    width: 100%;
    margin-top: 1em;
}

.topmargin {
    margin-top: 1em;
    width: 100%;
}

#sidebar {
    width: 95%;
}

#content-box {
    display: inline-block;
    width: 95%;
    vertical-align: top;
}

#video-container {
    margin-top: 1em;
    width: 100%;
}

#slide-content-box {
    width: 100%;
    margin-top: 1em;
    height: 400px;
}

.small-IDE {
    margin-top: 1em;
    width: 100%;
}

#hour-of-code-IDE-output-container {
    margin-top: 1em;
    width: 100%;
}

.ideHourOfCodeLeftSide {
    width: 100%;
    margin-top: 1em;
}

#modal, #noCodeModal {
    position: relative;
    min-width: 1px;
}

#overlay-content {
    width: 100%;
    left: 0px;
    top: 50%;
}

#sidebar-navigation {
  width: 100%;
}

#finish {
  width: 100%;
}

.bodyContainerHOC {
    margin-left: 1em;
}
.blockButton{
    display: inline-block;
    margin: .5%;
    width: 49%;
    text-align: center;
    border: solid 1px #AAA;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 1px 2px #555;
    overflow: hidden;
    height: 20em;
     min-width: 15em;
    vertical-align: top;
    position: relative;
}
.textButton li{
    display: inline-block;
    width: 100%;
    text-align: left;
    border: solid 1px #AAA;
    background-color: rgba(3, 59, 86, .90);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1px 1px #555;
    height: 230px;
    vertical-align: top;
    position: relative;
}

/* Modal Content/Box */
.modal-content {
    width: 80%; /* Could be more or less, depending on screen size */
}

.accountupdateForm {
    width: 80%;
}

.profileButton {
    width: 100%;
}