.quorum-embed pre {
    display: block;
    line-height: 20px;
    padding: 2px 4px;
    background-color: white;
    border: 1px solid #e1e1e8;
    white-space: pre;
}


.quorum-embed pre code:not(.language-quorum) {
    border: none;
    padding: 0;
}


.quorum-embed h2 {
    font-size: 2em;
    
    font-weight: bold;
}


.quorum-embed {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0;
    font-size: 1em;
    background-color: #F3F3F3;
}

.quorum-embed p {
    margin-bottom: 4px;
}


.ideTotal {
    background-color: #045C86;
    color: white;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    box-shadow: 0px 0px 3px 2px #666;
    margin: 1em auto auto auto;
    margin-top: 1em;
    margin-left: auto;
    width: 100%;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.ideTitle, .allInOneIdeTitle {
    padding: 0 6px 0 12px;
    margin: 0;
}

.allInOneIdeSubtitle, .ideSubtitle {
    padding: 4px 6px 4px 12px;
}

.flex-container {
    display: flex;
}

.ideVisualOutput { 
    flex: 1;
    background-color: rgba(3, 59, 86, 0.9);
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}

.ideTextboxInput {
    flex: 1.5;
    font-family: Menlo, monospace;
    border-bottom: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
    font-size: .9em;
    height: 23em;
    padding-left: 0.5em;
    position:relative;
    display:inline-block;
}

.ideLineNumbers {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 16pt;
    width: 3em;
    padding: 5px;
    font-family: monospace;
    background: #EEE;
    border: 0;
    border-right: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    text-align: right;
    white-space: pre;
    resize: none;
    overflow: hidden;
    
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ideEditing, .syntaxHighlighting {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 2.7em;
    bottom: 0;
    height: 100%;
  
    overflow: auto;
    white-space: pre;
  
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 0;
    padding: 5px;
    border: 0;
    width: calc(100% - 32px);
    /* height: 100%; */
  
    display:block;
    outline:none;
}



.ideEditing, .syntaxHighlighting, .syntaxHighlighting * {
    /* Also add text styles to highlighting tokens */
    color: black;
    font-size: 0.9em;
    font-family: Menlo, monospace;
    line-height: 16pt;
    text-align: start;
}
.syntaxHighlighting * {
    font-size: 1em;
}
  
.ideEditing {
    z-index: 1;
  
    color: transparent;
    background: transparent;
    caret-color: black;
  
    resize: none;
}
.syntaxHighlighting {
    z-index: 0;
}

.allInOneIdeOutput {
    background-color: #E5E5E5;
    position: relative;
    border: none;
    font-size: 1.15em;
    overflow: auto;
    color: #252525;
    padding: 4px;
    height: 122px;
    white-space: pre;
}

.FlexBuildButton {
    flex: 1;
    border-color: darkseagreen;
    vertical-align: top;
    padding: 0;
    display: block;
    background-color: #04862d;
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px #666;
    cursor: pointer;
    padding: 10px 0;
}

/* PrismJS 1.24.1
https://prismjs.com/download.html */

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}


:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: white;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment {
    color: #989898;
}

.token.property,
.token.tag,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #ce7c00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #ce7c00;
}

.token.atrule,
.token.boolean,
.token.attr-value,
.token.keyword {
    color: #0000FF;
}

.token.function,
.token.class-name {
    color: #7f007f;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: -2px;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

@media screen and (min-width: 1001px)
{
    .ideLeftSide {
        width: 50%;
    }

    .ide {
        margin: auto;
        width: 90%;
        padding: 1em;
    }

    .allInOneIde{
        margin: 1em auto auto auto;
        width: 95%;
    }

    .allInOneIdeSubtitle, .ideSubtitle {
        padding: 4px 6px 4px 12px;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }
}

@media screen and (max-width: 600px)
{

    .ideCanvas {
        border: solid 2px black;  
        width: 100%;
        margin-top: 1em;
    }

    .flex-container {
        display: block;
    }

    .ideTextboxInput {
        width: 100%;
    }

    .ideVisualOutput { 
        width: 100%;
    }

    .FlexBuildButton {
        width: 100%;
    }

    .ideCanvasRight {
        width: 100%;
        position: relative;
        margin-top: 1em;
    }

    .ideLeftSide {
        width: 100%;
    }

}
